* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.score-container {
  background-color: rgba(182, 182, 182, 0.372);
  backdrop-filter: blur(50px);
  margin-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.352);
  width: 258px;
  height: 65px;
  margin-right: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.js-wins,
.js-losses,
.js-ties {
  font-weight: bold;
  font-size: 25px;
}
.wins-container,
.losses-container,
.ties-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wins,
.losses,
.ties {
  font-size: 20px;
  font-weight: bold;
}
.you-picked {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
}
.computer-picked {
  font-weight: bold;
  margin-left: 5px;
}
body {
  font-family: arial;
}
.RPS-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
.pickUp {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.computerPickup {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.rock {
  height: 52px;
}
.paper {
  height: 52px;
}
.scissors {
  height: 54px;
}
.rock-icon {
  height: 50px;
  -webkit-user-drag: none;
}
.paper-icon {
  padding-top: 7px;
  height: 50px;
  -webkit-user-drag: none;
}
.scissors-icon {
  padding-top: 7px;
  height: 50px;
  -webkit-user-drag: none;
}
.move-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.result {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.score {
  font-size: 20px;
}
.total-played {
  font-size: 20px;
}
.resetScore {
  font-size: 20px;
}
.reset-button {
  border-radius: 8px;
  margin-top: 15px;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.849);
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
/* this code for new RPS */

.main-container {
  background-image: url(https://images.unsplash.com/photo-1533610067042-1cee3c403282?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: top;
-webkit-user-drag: none;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remaining-score {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RPS-container {
  position: relative;
  padding: 10px 0px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 3px solid rgba(255, 255, 255, 0.352);
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.RPS-button-container {
  display: flex;
}
.rock-container,
.paper-container,
.scissors-container {
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.352);
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
.remain-main-container {
  margin-right: 7px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-container {
  display: flex;
  margin-bottom: 5px;
}
.input-container input {
  width: 128px;
  margin-right: 5px;
  height: 23px;
  font-size: 13px;
}

.confirm {
  width: 262px;
  height: 25px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.352);
  border-radius: 5px;
}
@media (max-width: 586px) {
  .RPS-container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
  }
  .pickUp {
    font-size: 16px;
  }
  .reset-button {
    padding: 8px 13px;
    font-size: 17px;
    border: 2px solid rgba(255, 255, 255, 0.35);
  }
  .result {
    margin-bottom: 5px;
  }
  .remaining-score {
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 325px;

    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
